.container{
    width:95%;
    max-width:1100px;
    margin:auto;
}

.mission-section{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}

.mission-title{
    width:40%;
}

.mission-box{
    width:50%;
}

@media (max-width: 768px){

    .mission-section{
        flex-direction:column;
        text-align:center;
    }

    .mission-title,
    .mission-box{
        width:100%;
    }

}
@media (max-width: 768px){

    .bottom-about{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .about-image img{
        width:100%;
        max-width:350px;
    }

    .rating-box{
        width:90%;
        max-width:280px;
        margin-top:20px;
    }

}