body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#edf3f6;
}

/* TITLE */
h1{
    text-align:center;
    font-size:48px;
    font-weight:300;
    margin:20px 0;
}

.subtitle{
    text-align:center;
    color:#2f5c9b;
    font-weight:bold;
    margin-bottom:30px;
}

/* JOIN BOX */
.join-box{
    background:#e7c7da;
    padding:25px;
    width:450px;
}

/* FIELDSET + LEGEND */
fieldset{
    border:none;
    margin:0;
    padding:0;
}

legend{
    font-size:18px;
    font-weight:bold;
    margin-bottom:15px;
    padding:0;
}

/* FORM INPUTS */
.join-box input,
.join-box select,
.questions-box input,
.questions-box textarea{
    margin-left:10px;
    padding:8px;
    border:1px dashed #999;
    border-radius:8px;
    background:white;
}

.join-box select{
    display:block;
    margin-top:10px;
}

button{
    margin-top:15px;
    padding:10px 22px;
    border:none;
    border-radius:20px;
    background:#b7e6b3;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#88c9bf;
    color:white;
}
/* HIDDEN FIRST */
.flip-container{
  width:250px;
  height:150px;
  margin:40px auto;
  perspective:1000px;
  opacity:0;
}

/* SHOW WHEN TARGETED */
#welcome:target{
  opacity:1;
}

/* CARD */
.flip-card{
  width:100%;
  height:100%;
  position:relative;
  transform-style:preserve-3d;
  transition:0.6s;
}

/* FLIP WHEN TARGETED */
#welcome:target .flip-card{
  transform:rotateY(180deg);
}

/* SIDES */
.flip-front,
.flip-back{
  position:absolute;
  width:100%;
  height:100%;
  backface-visibility:hidden;
  border-radius:15px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
}
.join-btn{
  display:inline-block;
  margin-top:15px;
  padding:10px 22px;
  border:2px solid white;   /* THIS is your border */
  border-radius:20px;
  text-decoration:none;
  color:white;
  background:transparent;
  font-size:12px;
  transition:0.3s;
}

/* hover effect */
.join-btn:hover{
  background:#88c9bf;
  color:white;
  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* FRONT */
.flip-front{
  background:#f8edf3;
}

/* BACK */
.flip-back{
  background:#c8d3cf;
  transform:rotateY(180deg);
}

/* IMAGE */
.join-image img{
    width:260px;
    height:auto;
    display:block;
}

/* QUESTIONS */
.questions-title h2{
    font-size:40px;
    color:#5f6f6a;
}

.questions-box{
    background:#d7d9eb;
    padding:25px;
    width:400px;
}

.questions-box textarea{
    width:180px;
    height:70px;
    resize:vertical;
}

/* DETAILS */
details{
    margin-top:15px;
    background:#eef2f5;
    padding:12px;
    border-radius:10px;
}

summary{
    font-weight:bold;
    cursor:pointer;
}

/* FOOTER */
footer{
    width:100%;
    text-align:center;
    font-size:12px;
    padding:12px 0;
    margin-top:40px;
    background:#f2f5f7;
}

footer p{
    margin:0;
}